# Ignore virtual environments
venv/
.env/
.terraform/

# Ignore sensitive variables files
terraform.tfvars

# Ignore IDE/editor-specific files
.idea/
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore any other unnecessary files
.terraform.lock.hclterraform.tfstate*

azure_access_token.txt

terraform.tfstate
terraform.tfstate.*
*.backup

*.tfstate
*.backup
terraform.tfvars

graph.svg